<div>
  <div>
    <div>
    <%= render 'public/users/book_page', book: @suggest_book, user: @user %>
    </div>
    <div>
      <% if user == current_user %>
        <%= link_to "編集する", edit_suggest_book_path(book.id) %>
        <%= link_to "削除する", destroy_suggest_book_path(book.id), method: :patch, alert: "投稿を削除しますか？" %>
      <% end %>
      <%= link_to "コメントする" %>
      <%= link_to "お気に入りに追加" %>
    </div>
  </div>
</div>