<%= flash[:notice] %>
<div>
  <div>
    <div>
      <h2>新着探す投稿</h2>
      <%= link_to "一覧はこちら", find_books_path %>
      <%= render 'public/users/index', books: @find_books %>
    </div>
    <div>
      <h2>新規おすすめ投稿</h2>
      <%= link_to "一覧はこちら", suggest_books_path %>
      <%= render 'public/users/index', books: @suggest_books %>
    </div>
  </div>
</div>