<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="mr-auto mt-5">
      <h4>新着探す投稿</h4>
      <p class="m-3"><%= link_to "一覧はこちら", find_books_path %></p>
      <%= render 'public/users/index', books: @find_books %>
    </div>
  </div>
  <div class="row">
    <div class="mr-auto mt-5">
      <h4>新着おすすめ投稿</h4>
      <p class="m-3"><%= link_to "一覧はこちら", suggest_books_path %></p>
      <%= render 'public/users/index', books: @suggest_books %>
    </div>
  </div>
</div>
