<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="mx-auto mt-5">
      <!--ジャンルの追加-->
      <%= form_with model: @genre, url: admin_genres_path do |f| %>
        <%= f.label :"ジャンル名" %>
        <%= f.text_field :name %>
        <%= f.submit '追加する' %>
      <% end %>
      <!--ジャンル一覧の表示-->
      <h4 class="mt-5">ジャンル一覧</h4>
      <table class="table mt-3">
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
              <td><%= link_to "削除する", admin_destroy_genre_path(genre.id), method: :delete, class:"text-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>