<div>
  <div>
    <p>お探しの書籍の内容を変更します。</p>
    <p>書籍の写真は投稿できません。</p>
    <%= form_with model: @find_book, url: update_find_book_path, method: :patch do |f| %>
      <h4>タイトル</h4>
      <%= f.text_field :title %>
      <h4>説明</h4>
      <%= f.text_area :body %>
      <h4>ジャンル</h4>
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
      <% if @find_book.is_draft == true %>
        <%= f.submit "投稿を公開する", :name => 'publicize_draft' %>
        <%= f.submit "下書きを更新する", :name => 'update_draft' %>
      <% else %>
        <%= f.submit '投稿を更新する', :name => 'update_post' %>
      <% end %>
      <div>
        <%= link_to "削除する", destroy_find_book_path(@find_book), method: :delete, data: {confirm: "本当に削除しますか？" } %>
      </div>
    <% end %>
  </div>
</div>