<div>
  <div>
    <p>お探しの書籍について入力してください。</p>
    <p>書籍の写真は投稿できません。</p>
    <%= form_with model: @find_book do |f| %>
      <h4>タイトル</h4>
      <%= f.text_field :title %>
      <h4>説明</h4>
      <%= f.text_area :description %>
      <h4>ジャンル</h4>
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
      <%= f.submit '投稿する' %>
    <% end %>
  </div>
</div>