<div>
  <div>
    <duv>
      <%= book.title %>
      <%= book.body %>
      <%= book.genre.name %>
      <%= book.user.name %>
      <p>投稿した日<%= book.created_at.strftime('%Y/%m/%d') %></p>
    </duv>
  </div>
</div>