<div class="container">
  <div class="row">
    <div class="mr-auto mt-5">
      <h4><%= @user.name %>さんの詳細</h4>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table mt-3">
        <tbody>
          <tr>
            <th>会員ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>会員名</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>紹介文</th>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <th>退会ステータス</th>
            <td><%= @user.is_deleted ? "退会済み" : "有効" %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= link_to "編集する", edit_admin_user_path(@user.id) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ml-5 col-md-7 mt-5">
      <h4>出品履歴一覧</h4>
      <table class="table mt-3">
        <% @sell_books.each do |sell_book| %>
          <tr>
            <td><%= link_to sell_book.find_book.title, admin_find_book_path(sell_book.find_book) %></td>
          </tr>
        <% end %>
      </table>

      <h4>購入履歴一覧</h4>
      <table class="table mt-3">
        <% @buy_books.each do |buy_book| %>
          <tr>
            <td><%= link_to buy_book.sell_book.find_book.title, admin_sell_book_buy_books_path(buy_book.sell_book, buy_book) %></td>
          </tr>
        <% end %>
      </table>

      <h4>目撃情報投稿履歴一覧</h4>
      <table class="table mt-3">
        <% @post_informations.each do |post_information| %>
          <tr>
            <td><%= link_to post_information.find_book.title, admin_find_book_path(post_information.find_book)  %></td>
          </tr>
        <% end %>
      </table>

      <h4>コメント投稿履歴一覧</h4>
      <table class="table mt-3">
        <% @post_comments.each do |post_comment| %>
          <tr>
            <td><%= link_to post_comment.suggest_book.title, suggest_book_path(post_comment.suggest_book)  %></td>
          </tr>
        <% end %>
      </table>

      <h4>お気に入り一覧</h4>
      <table class="table mt-3">
        <% @favorites.each do |favorite| %>
          <tr>
            <td><%= link_to favorite.suggest_book.title, admin_suggest_book_path(favorite.suggest_book.id) %></td>
          </tr>
        <% end %>
      </table>
      <h4 class="mt-5">探す投稿一覧</h4>
      <table class="table mt-3">
        <% @user.find_books.each do |find_book| %>
          <tr>
            <td><%= link_to find_book.title, admin_find_book_path(find_book) %></td>
          </tr>
        <% end %>
      </table>
      <h4 class="mt-5">おすすめ投稿一覧</h4>
      <table class="table mt-3">
        <% @user.suggest_books.each do |suggest_book| %>
          <tr>
            <td><%= link_to suggest_book.title, admin_suggest_book_path(suggest_book) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
