<div class="d-flex flex-wrap">
  <% books.each do |book| %>
    <div class="card col-md-6">
      <div class="card-body">
        <h5 class="card-title"><%= link_to book.title, book %></h5>
        <p class="card-text"><%= book.author %></p>
        <p class="card-text"><%= book.body %></p>
        <p class="card-text">ジャンル：<%= book.genre.name %></p>
        <div>
          <%= image_tag book.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
          <p>投稿者：<%= link_to book.user.name, book.user %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
